#toolbar {
  margin-top: 20px;
  text-align: center;
}

main {
  margin-top: 20px;

  .days {
    width: 800px;
    max-width: 90%;
    margin: 0 auto;

    .timers {
      list-style: none;

      .timer>form {
        margin-top: 5px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        h4 {
          margin: 0;
        }
      }
    }
  }
}

dialog {
  text-align: center;

  .buttons {
    margin-top: 10px;
  }
}
